#root,.cus-sider{
  height: 100%;
}
.ant-layout{
    background: transparent;
    .cus-sider {
        background: rgba(0, 21, 41, 0.47);
        box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
        .logo {
            background: rgba(0, 21, 41, 0.47);
            height: 64px;
            line-height: 64px;
            h1 {
                white-space: nowrap;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                margin-left: 20px;
                font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-weight: 600;
            }
        }
        .menu {
            background: rgba(0, 21, 41, 0.33);
        }
        .sub-menu {
            background: rgba(0, 12, 23, 0.26);
        }
        .ant-menu-dark .ant-menu-inline.ant-menu-sub {
            background: rgba(0, 12, 23, 0.26);
        }
    }
    .ant-layout-header{
        background-color: rgba(0, 21, 41, 0.33);
    }
    .ant-layout-content{
        background-color: rgba(255, 255, 255, 0.8);
    }
    .ant-layout-footer{
        background-color: rgba(240, 242, 245, 0.5);
    }
}
.ant-layout-sider-children{
  position: fixed;
  transition: all .2s;
  width: 250px;
}
.ant-layout-sider-collapsed{
  .ant-layout-sider-children{
      width: 0px
  }
}